body{
    margin:0px;
    height:0;
}

section{
    height: 300px;
    background-color:#E4E9F7;
}
.info_section{
    
    background-color: rgb(41, 46, 56);
}

.info_section .champion_img{
    border: 3px solid #A8E082;
    border-radius: 15px;
    margin-left:20%;
    height: 120px;
    width: 120px;
    float:left;
}

.info_section .champion_info{
    height: 200px;
    width: 200px;
    float:left;
    color:rgb(255, 255, 255);
}

.champion_name{
}

.champion_skills{
}
