.home_img{
    margin-left:1px;
}

.rows{
    padding: 8px 0px 8px 32px;
    margin-left: 15%;
    margin-top: 15%;
    height:100%;
}

.home_font{
    text-align: center;
    color: rgb(83, 98, 102);
    font-family: "BlackHanSans-Regular";
}