.home_img{
    margin-left:1px;
}
.rows{
    padding: 8px 0px 8px 32px;
    margin-left: 15%;
    margin-top: 15%;
    height:100%;
}

.home_font{
    position:sticky;
    font-family: "BlackHanSans-Regular";
}