.mate_img{
    margin-left:1px;
}

.mate_rows{
    padding: 8px 0px 8px 32px;
    margin-left: 15%;
    margin-top: 5%;
    height:100%;
    border-radius: 16px;
}

.mate_title{
    font-family: "BlackHanSans-Regular";
    color: rgb(83, 98, 102);
    text-align: center;
}

.recommend_container{
    background-color: lightgray;
    margin-left: 15%;
    margin-top: 5%;
    flex-direction: column;
    padding: 32px 0;
}