.mate_rows{
    padding: 8px 0px 8px 32px;
    margin-left: 15%;
    margin-top: 5%;
    height:100%;
    border: 6px solid blue;
    border-radius: 16px;
}

.mate_title{
    font-family: "BlackHanSans-Regular";
}