.sidebar{
    background: black;
    width: 10.0rem;
    height: 80vh;
    margin-top: 1rem;
    border-radius: 0 30px 30px 0;
    padding: 1rem 0;
    position: fixed;
    color: white;
    font-family: "BlackHanSans-Regular";
    text-align: center;
}