.youtube_container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}

.list_container{
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
}

.youtube_rows{
    padding: 8px 0 0 8px;
    margin-left: 15%;
    height:100%;
}

.thumbnails{
    display: flex;
    right: 10px;
    margin: 0px ;
}

.youtube_title{
    font-family: sans-serif;
    font-size : 1.5 em;
    color: rgb(83, 98, 102);
    text-align: center;
}